<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
      content="Get everything you need to sew your next garment. Open Monday-Friday 8-5pm, located in the Food District" />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <title>Kisnaktaurant App</title>
  </head>

  <body>
    <a href="#maincontent" class="skip-link">Menuju Content</a>
    <header class="header">
      <div class="header__inner">
        <h1 class="header__title">Kisnaktaurant App</h1>
        <button id="menu" class="header__menu" aria-label="navigation-menu">☰</button>
      </div>
    </header>

    <nav id="drawer" class="nav">
      <ul>
        <li class="nav__item"><a href="/">Home</a></li>
        <li class="nav__item"><a href="/">Favorite</a></li>
        <li class="nav__item">
          <a href="https://github.com/kisnak21" target="_blank">About Us</a>
        </li>
      </ul>
    </nav>

    <div class="hero">
      <div class="hero__inner">
        <h1 class="hero__title">Get Your Stuff Here!</h1>
        <p class="hero__tagline">Be Happy With Our Stuff!</p>
      </div>
    </div>
    <main id="maincontent">
      <section class="content">
        <div class="explore">
          <h1 class="explore__label">Explore Restaurant</h1>

          <!-- import data restaurants using DOM -->
          <div class="restaurants"></div>

        </div>
      </section>
    </main>
    <footer>
      <a>Copyright © 2022 - Kisnaktaurant Apps</a>
  </body>

</html>