<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <title>Kisnaktaurant App</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju Content</a>
    <header class="header">
      <div class="header__inner">
        <h1 class="header__title">Kisnaktaurant App</h1>
      </div>
      <a id="menu" class="header__menu">☰</a>
    </header>

    <nav id="drawer" class="nav">
      <ul>
        <li class="nav__item"><a href="*">Home</a></li>
        <li class="nav__item"><a href="#">Favorite</a></li>
        <li class="nav__item">
          <a href="https://github.com/kisnak21" target="_blank">About Us</a>
        </li>
      </ul>
    </nav>

    <div class="hero">
      <div class="hero__inner">
        <h1 class="hero__title">Get Your Stuff Here!</h1>
        <p class="hero__tagline">Be Happy With Our Stuff!</p>
      </div>
    </div>
    <main id="maincontent">
      <section class="content">
        <div class="explore">
          <h1 class="explore__label">Explore Restaurant</h1>
          <div class="restaurants">
            <article class="restaurant-item">
              <img
                class="restaurant-item__thumbnail"
                src="https://restaurant-api.dicoding.dev/images/medium/41"
                alt="Gambar restoran di pinggir kolam"
              />
              <div class="restaurant-item__content">
                <p class="restaurant-item__title" aria-label="nama restoran: Bring Your Phone Cafe">Bring Your Phone Cafe</p>
                <p class="restaurant-item__rating" aria-label="rating restoran: 4.6">Rating: 4.6</p>
                <p class="restaurant-item__description">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Error, est veritatis. Cupiditate et odit nesciunt ipsam
                  repellendus blanditiis nemo rerum officiis, consequatur,
                  distinctio alias dolore ullam, soluta aut consectetur debitis?
                </p>
              </div>
            </article>
            <article class="restaurant-item">
              <img
                class="restaurant-item__thumbnail"
                src="https://restaurant-api.dicoding.dev/images/medium/07"
                alt="Gambar restoran bangunan klasik"
              />
              <div class="restaurant-item__content">
                <p class="restaurant-item__title" aria-label="nama restoran: Run The Gun">Run The Gun</p>
                <p class="restaurant-item__rating" aria-label="rating restoran: 4.6">Rating: 4.6</p>
                <p class="restaurant-item__description">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Error, est veritatis. Cupiditate et odit nesciunt ipsam
                  repellendus blanditiis nemo rerum officiis, consequatur,
                  distinctio alias dolore ullam, soluta aut consectetur debitis?
                </p>
              </div>
            </article>
            <article class="restaurant-item">
              <img
                class="restaurant-item__thumbnail"
                src="https://restaurant-api.dicoding.dev/images/medium/29"
                alt="Gambar restoran dengan bar mewah"
              />
              <div class="restaurant-item__content">
                <p class="restaurant-item__title" aria-label="nama restoran: Pangsit Express">Pangsit Express</p>
                <p class="restaurant-item__rating" aria-label="rating restoran: 4.8">Rating: 4.8</p>
                <p class="restaurant-item__description">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Error, est veritatis. Cupiditate et odit nesciunt ipsam
                  repellendus blanditiis nemo rerum officiis, consequatur,
                  distinctio alias dolore ullam, soluta aut consectetur debitis?
                </p>
              </div>
            </article>
            <article class="restaurant-item">
              <img
                class="restaurant-item__thumbnail"
                src="https://restaurant-api.dicoding.dev/images/medium/38"
                alt="Gambar wanita dan pria sedang duduk di depan restoran"
              />
              <div class="restaurant-item__content">
                <p class="restaurant-item__title" aria-label="nama restoran: Ducky Duck">Ducky Duck</p>
                <p class="restaurant-item__rating" aria-label="rating restoran: 4.7">Rating: 4.7</p>
                <p class="restaurant-item__description">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Error, est veritatis. Cupiditate et odit nesciunt ipsam
                  repellendus blanditiis nemo rerum officiis, consequatur,
                  distinctio alias dolore ullam, soluta aut consectetur debitis?
                </p>
              </div>
            </article>
            <article class="restaurant-item">
              <img
                class="restaurant-item__thumbnail"
                src="https://restaurant-api.dicoding.dev/images/medium/40"
                alt="Gambar sebuah blok di jalan yang di isi oleh restoran"
              />
              <div class="restaurant-item__content">
                <p class="restaurant-item__title" aria-label="nama restoran: Kafein">Kafein</p>
                <p class="restaurant-item__rating" aria-label="rating restoran: 3.8">Rating: 3.8</p>
                <p class="restaurant-item__description">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Error, est veritatis. Cupiditate et odit nesciunt ipsam
                  repellendus blanditiis nemo rerum officiis, consequatur,
                  distinctio alias dolore ullam, soluta aut consectetur debitis?
                </p>
              </div>
            </article>
            <article class="restaurant-item">
              <img
                class="restaurant-item__thumbnail"
                src="https://restaurant-api.dicoding.dev/images/medium/08"
                alt="Gambar sepiring salad mewah dan segelas air putih"
              />
              <div class="restaurant-item__content">
                <p class="restaurant-item__title" aria-label="nama restoran: Makan Mudah">Makan mudah</p>
                <p class="restaurant-item__rating" aria-label="rating restoran: 4.6">Rating: 4.6</p>
                <p class="restaurant-item__description">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Error, est veritatis. Cupiditate et odit nesciunt ipsam
                  repellendus blanditiis nemo rerum officiis, consequatur,
                  distinctio alias dolore ullam, soluta aut consectetur debitis?
                </p>
              </div>
            </article>
            <article class="restaurant-item">
              <img
                class="restaurant-item__thumbnail"
                src="https://restaurant-api.dicoding.dev/images/medium/32"
                alt="Gambar interior restoran klasik"
              />
              <div class="restaurant-item__content">
                <p class="restaurant-item__title" aria-label="nama restoran: Saya Suka">Saya Suka</p>
                <p class="restaurant-item__rating" aria-label="rating restoran: 3.6">Rating: 3.6</p>
                <p class="restaurant-item__description">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Error, est veritatis. Cupiditate et odit nesciunt ipsam
                  repellendus blanditiis nemo rerum officiis, consequatur,
                  distinctio alias dolore ullam, soluta aut consectetur debitis?
                </p>
              </div>
            </article>
            <article class="restaurant-item">
              <img
                class="restaurant-item__thumbnail"
                src="https://restaurant-api.dicoding.dev/images/medium/45"
                alt="Gambar interior restoran minimalis"
              />
              <div class="restaurant-item__content">
                <p class="restaurant-item__title" aria-label="nama restoran: Gigitan Cepat">Gigitan Cepat</p>
                <p class="restaurant-item__rating" aria-label="rating restoran:4 ">Rating: 4</p>
                <p class="restaurant-item__description">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Error, est veritatis. Cupiditate et odit nesciunt ipsam
                  repellendus blanditiis nemo rerum officiis, consequatur,
                  distinctio alias dolore ullam, soluta aut consectetur debitis?
                </p>
              </div>
            </article>
            <article class="restaurant-item">
              <img
                class="restaurant-item__thumbnail"
                src="https://restaurant-api.dicoding.dev/images/medium/04"
                alt="Gambar orang yang sedang mengantri di kasir restoran"
              />
              <div class="restaurant-item__content">
                <p class="restaurant-item__title" aria-label="nama restoran: Fairy Cafe">Fairy Cafe</p>
                <p class="restaurant-item__rating" aria-label="rating restoran: 3.9">Rating: 3.9</p>
                <p class="restaurant-item__description">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Error, est veritatis. Cupiditate et odit nesciunt ipsam
                  repellendus blanditiis nemo rerum officiis, consequatur,
                  distinctio alias dolore ullam, soluta aut consectetur debitis?
                </p>
              </div>
            </article>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <a>Copyright © 2022 - Kisnaktaurant Apps</a>
  </body>
</html>
