* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #424242;
}

/*
   * Header
   *
   */

.header {
  min-height: 56px;
  transition: min-height 0.3s;
}

.header__inner {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.header__title {
  font-weight: 300;
  font-size: 4em;
  margin: 0.5em 0.25em;
  display: inline-block;
  color: #212121;
}

.header__menu {
  font-size: 32px;
  margin: 10px auto;
  display: block;
  width: 30px;
}

/*
   * Top level navigation
   */

.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav__item {
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
}

.nav a {
  display: inline-block;
  padding: 1.3em;
  text-decoration: none;
  color: #616161;
}

.nav a:hover {
  text-decoration: underline;
  color: #000;
}

/*
   * Jumbotron
   */

.hero {
  display: flex;
  align-items: center;
  min-height: 380px;
  width: 100%;
  text-align: center;
  background-image: url("../public/images/heros/hero-image_4.jpg");
  background-position: center;
  background-color: green;
}

.hero__inner {
  margin: 0 auto;
  max-width: 800px;
}

.hero__title {
  color: #fff;
  font-weight: 500;
  font-size: 36px;
}

.hero__tagline {
  color: #fff;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 300;
}

/*
   * main
   */

main {
  width: 100%;
  margin: 0 auto;
}

/*
   * content
   */

.content {
  padding: 32px;
}

/*
   * headline
   */

.headline__figure {
  width: 100%;
}

.headline__figure img {
  width: 100%;
}

.headline__figure figcaption {
  text-align: center;
  color: #666666;
  font-size: 13px;
  font-weight: 400;
  margin-top: 8px;
}

.headline__content {
  width: 100%;
  padding: 16px 0;
}

.headline__title {
  font-size: 24px;
  font-weight: 500;
}

.headline__description {
  font-size: 12px;
  margin-top: 12px;
}

.headline__button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-top: 24px;
  cursor: pointer;
  padding: 8px 16px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #2c3e50;
  transition: opacity 0.3s;
}

.headline__button:hover {
  opacity: 0.8;
}

/*
   * Explore restaurants
   */

.explore {
  width: 100%;
  margin: 60px auto;
  text-align: center;
}

.explore__label {
  font-size: 32px;
  font-weight: lighter;
}

.explore__label::after {
  content: "";
  margin-top: 16px;
  display: block;
  border-bottom: 1px solid #eeeeee;
}

/*
   * restaurant
   */

.restaurants {
  margin: 32px auto auto;
  text-align: left;
  display: grid;
  grid-row-gap: 16px;
}

/*
   * restaurant item
   */

.restaurant-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.restaurant-item__content {
  padding: 16px;
}

.restaurant-item__thumbnail {
  width: 100%;
}

.restaurant-item__rating {
  font-size: 10px;
  text-transform: uppercase;
  color: #999;
}

.restaurant-item__title {
  font-weight: 500;
  font-size: 16px;
  margin-top: 16px;
  transition: 0.3s opacity;
}

.restaurant-item__title:hover {
  opacity: 0.5;
}

.restaurant-item__title a {
  text-decoration: none;
  color: inherit;
}

.restaurant-item__description {
  margin-top: 16px;
  font-size: 12px;
  line-height: 1.5em;
}

/*
   * footer
   */

footer {
  background-color: #2c3e50;
  padding: 2em;
  width: 100%;
  text-align: center;
}

footer a {
  display: inline-block;
  padding: 1.2em;
  text-decoration: none;
  color: #fff;
  font-size: medium;
}

/*
  *skip-to-content
  */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}
/*
  *Responsive 
  */
@media screen and (max-width: 499px) {
  .nav {
    z-index: 10;
    background-color: #fff;
    width: 300px;
    position: absolute;

    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);

    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }

  .open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .nav__item {
    display: list-item;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    text-align: left;
  }
}

@media screen and (min-width: 455px) {
  .headline__content {
    padding: 16px 16px;
  }

  .headline__title {
    font-size: 28px;
  }

  .headline__description {
    font-size: 16px;
  }
}

@media screen and (min-width: 500px) {
  .header__menu {
    display: none;
  }
}

@media screen and (min-width: 650px) {
  .headline__content {
    margin: 0 auto;
    max-width: 650px;
  }

  .restaurant-item__content {
    padding: 16px 32px 32px 32px;
  }

  .restaurant-item__title {
    font-size: 18px;
  }

  .restaurant-item__description {
    font-size: 14px;
  }
}

@media screen and (min-width: 700px) {
  .restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 16px;
  }
}

@media screen and (min-width: 800px) {
  .nav__list {
    max-width: 800px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 900px) {
  .headline {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .headline__content {
    padding: 16px 32px;
  }

  .restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  main {
    max-width: 1200px;
  }
}
